* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #545f7d;
}

.game {
  margin: 0px auto;
  margin-top: 50px;
  max-width: 50%;
  display: flex;
  flex-direction: row;
}

.game-board {
  border-radius: 3px;
  background: #44425e;
}

.game-info {
  margin-left: 40px;
  color: #fbfcfc;
  font-size: 34px;
}
.game-info div {
  margin-top: 10px;
}
.game-info div:first-child{
  margin-top: 0;
}